#footerDivider{
    width: 95%;
}

footer{
    background-color: var(--footerBackgroundColor);
}

.footerIcon{
    cursor: pointer;
}

#footerFinePrintContainer{
    font-size: 12px;
    border-left:1px solid #00000050;
}

#footerFinePrintTop{
    font-size: 10px;
}

#footerFinePrintBottom{
    font-size: 9px;
}

#footerContactInfoContainer{
    font-size: 13px;
}

#footerContactTop{
    font-size: 16px;
}