/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 7.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e0e0e0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1;
  }

  .navbar-nav .nav-item .nav-link{
   opacity: 75%;
   /* border-width: 0px;
   border-style: solid;
   border-color: black; */
  }

  .navbar {
    background-color: #f7f7f7;
  }
