html{
 --mainTextColor:#000000;
 --mainBackgroundColor:#FFFFFF;
 --navbarBackgroundColor:#f7f7f7;
 --navbarActiveTextColor:#000000E5;
 /*last 2 hexadecimals = opacity*/
 --navbarInactiveTextColor:#0000008C;
 /*last 2 hexadecimals = opacity*/
 /*--navbarHoverTextColor:;*/
 --navbarContactIconContainerBackgroundColor:#e8e8e8;
 --navbarContactIconBackgroundColor:#d4d4d4;
 --personalImageBorderColor:#7d7d7d;
 --skillBarActiveColor:#7d7d7d;
 --skillBarInactive:#e8e8e8;
 --scrollBarThumbColor:#e0e0e0;
 --scrollBarHoverColor:#d1d1d1;
 --lightingModeAnim: .75s ease-out;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 7.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--scrollBarThumbColor);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollBarHoverColor);
  }

  .navbar-nav .nav-item .nav-link{
   opacity: 75%;
  }

  .navbar {
    -webkit-transition: background-color var(--lightingModeAnim);
    -moz-transition: background-color var(--lightingModeAnim);
    -o-transition: background-color var(--lightingModeAnim);
    transition: background-color var(--lightingModeAnim);
    background-color: var(--navbarBackgroundColor);
  }

  #navbarContactIconContainer{
    overflow-x: scroll;
    background-color: var(--navbarContactIconContainerBackgroundColor);
    border-radius:1rem 1rem 10px 10px;
  }

  .contactIcon{
    border-radius: 50%;
    background: var(--navbarContactIconBackgroundColor);
  }

  #meHeaderLargeText {
    font-size: 40px;
  }

  #headerDivider {
    margin-left: 0.75rem;
  }

  #projectInfoHeader{
    font-size: 30px;
    /* font-weight: 800; */
  }

  #projectInfoDescription{
    height: 75%;
    font-size: 15px;
  }

  #projectMiniColumn{
    height: 90vh;/*100vh has a scrollbar at the side, ugly*/
    overflow: scroll;
  } 
  
  .projectMini{
    cursor: pointer;
  }

  .galleryLengthIndicator{
    height: 10px;
    
  }

  .projectMiniTitle{
    font-weight: 800;
  }

  .navbar-light .navbar-nav .nav-link.inactive{
    color:var(--navbarInactiveTextColor)
  }

  .navbar-light .navbar-nav .nav-link.active{
    color:var(--navbarActiveTextColor)
  }
/*
  .navbar-light .navbar-nav .nav-link:hover{
    color:var(--navbarHoverTextColor)
  } */

  .projectMiniDescription{
    font-size:.7rem;
  }

  #selectedTitle{
    font-size:1.75rem
  }

  #meHeaderSmallText {
    font-size: 20px;
  }

  #meDescription {
    font-size: 15px;
  }

  body{
    overflow:hidden
  }

  .contentContainer{
    overflow:scroll;
    /*prime variable for animation*/
    -webkit-transition: background-color var(--lightingModeAnim);
    -moz-transition: background-color var(--lightingModeAnim);
    -o-transition: background-color var(--lightingModeAnim);
    transition: background-color var(--lightingModeAnim);
    background-color:var(--mainBackgroundColor);
  }

  #meDescriptionContainer{
    margin-bottom: 100%
  }

  .skillGroupDescription{
    font-weight: 400;
  }
  
  .projectMini{
    border-bottom: 1px solid #e8e8e8;
  }

  #meHeaderLargeText{
    width: auto;
    margin-left: 0.75rem;
  }

  #meHeaderSmallText{
    width: auto;
    margin-left: 0.75rem;
  }

  .skillTitle{
    font-weight: 300;
  }

  /* All of this handles on start */
  #titleDivider{
    width:40%
  }

  #softSkillDivider{
    width:82%
  }

  #descDivider{
    width:97%
  }

  .skillTitle{
    white-space: nowrap;
  }

  .bar{
    background-color: var(--skillBarActiveColor);
    border-radius: 100%;
    margin-right: 1%;
  }

  .inactivebar{
    background-color: var(--skillBarInactive);
    border-radius: 100%;
    margin-right: 1%;
  }

  #personalImage{
    height: 150px;
    width:  150px;
    border-radius: 50%;
    border: 10px solid var(--personalImageBorderColor);
  }

  


