/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 7.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e0e0e0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1;
  }

  .navbar-nav .nav-item .nav-link{
   opacity: 75%;
   /* border-width: 0px;
   border-style: solid;
   border-color: black; */
  }

  .navbar {
    background-color: #f7f7f7;
  }

  #meHeaderLargeText {
    font-size: 40px;
  }

  #meHeaderSmallText {
    font-size: 20px;
  }

  #meDescription {
    font-size: 15px;
  }

  #descDivider{
    border:0;
  }

  .skillTitle{
    white-space: nowrap;
  }

  .bar{
    background-color: blue;
    border-color: white;
    border-style : solid;
    border-width: 1px;
  }
  

